<%= form_with model: @recycle do |form| %>
  <div class="form-group">
    <%= form.label :weight, "Peso:"%>
    <div class="col-md-12">
      <%= form.text_field :weight, class: "form-control" %>
    </div>
  </div>
  <br>
  <!---->
  <div class="col-md-12">
    <p>Recuperador</p>
    <%= form.select :recuperator, options_from_collection_for_select(Recuperator.all, :id, :fullname, "0"),{},
                  { class: "form-select form-select-sm" }  %>
  </div>
  <!---->
  <br>
  <div class="col-md-12">
    <p>Tipo de material</p>
    <%= form.select :type, options_from_collection_for_select(Type.all, :id, :name, "0"),{},
                  { class: "form-select form-select-sm" }  %>
  </div>
  <!---->
  <br>
  <div class="row">
    <div class="col-md-12 text-center">
      <% if @recycle.weight? %>
        <%= form.submit "Actualizar ", class: "btn btn-default btn-secondary" %>
      <% else %>
        <%= form.submit "Crear ", class: "btn btn-default btn-secondary" %>
      <% end %>
    </div>
  </div>
  <br>
<% end %>
