<div class="card mb-4 box-shadow">
  <div class="card-body">
    <h4>Reciclaje: <%= @recycles.count %></h4>
      <%= link_to new_recycle_path, class: "link" do %>
        &nbsp;&nbsp;<p class="btn btn-secondary">Nuevo reciclaje</p>
    <% end %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Peso</th>
            <th scope="col">Tipo</th>
            <th scope="col">Recuperador</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @recycles.each_with_index do |recycle, index| %>
            <tr>
              <th scope="row"><%=index + 1 %></th>
              <td><%= recycle.weight %></td>
              <td><%= recycle.type.name %></td>
              <td><%= recycle.recuperator.nit %> - <%= recycle.recuperator.fullname %> </td>
              <td>
                <%= link_to edit_recycle_path(recycle), class: "link" do %>
                  <i class="fas fa-pencil-alt fa-lg"></i>
                <% end %>
              </td>
              <td>
                <%= link_to [recycle], method: :delete, data: { confirm: "¿Estas seguro?" } do%>
                  <i class="fas fa-check-square fa-lg icon-ok"></i>
                  eliminar
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </ol>
  </div>
</div>
