<% if current_user.has_role? :admin %>
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <h4>Recuperadores: <%= @recuperators.count %></h4>
        <%= link_to new_recuperator_path, class: "link" do %>
          &nbsp;&nbsp;<p class="btn btn-secondary">Nuevo recuperador</p>
      <% end %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cedula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Telefono</th>
              <th scope="col">Direccion</th>
              <th scope="col">¿Activo?</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @recuperators.each_with_index do |recuperator, index| %>
              <tr>
                <th scope="row"><%=index + 1 %></th>
                <td><%= recuperator.nit %></td>
                <td><%= recuperator.fullname %></td>
                <td><%= recuperator.phone %></td>
                <td><%= recuperator.adress%></td>
                <% if recuperator.id != Recuperator.first.id %>
                  <td>
                    <% if recuperator.active %>
                      <%= link_to [recuperator], method: :delete, data: { confirm: "¿Estas seguro?" } do%>
                      <i class="fas fa-check-square fa-lg icon-ok"></i>
                      <% end %>
                    <% else %>
                      <%= link_to [recuperator], method: :delete, data: { confirm: "¿Estas seguro?" } do%>
                        <i class="fas fa-check-square fa-lg icon-not-ok"></i>
                      <% end %>
                    <% end%>
                  </td>
                <% else %>
                <td><i class="fas fa-check-square fa-lg"></i></td>
                <% end%>
                <td>
                  <%= link_to edit_recuperator_path(recuperator), class: "link" do %>
                    <i class="fas fa-pencil-alt fa-lg"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </ol>
    </div>
  </div>
<% end %>
