<div class="card mb-4 box-shadow">
  <div class="card-body">
    <h4>Usuario: <%=current_user.email %></h4>
    <p>Numero de citas: <%= Appointment.all.count %></p>
    <div class="d-none d-sm-none d-md-block">
       <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Recuperador</th>
            <th scope="col">Recogido</th>
            <th scope="col">Direccion</th>
            <th scope="col">Descripción</th>
            <th scope="col">Telefono</th>
            <th scope="col">Tipo</th>
            <th scope="col">Fecha</th>


            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appointment| %>

            <tr>
              <th ><%=appointment.id %></th>
              <td><%= appointment.recuperator.fullname %></td>
              <td><%= if appointment.athonme then 'Si' else 'No' end %></td>
              <td><%= appointment.adress %></td>
              <td><%= appointment.name %></td>
              <td><%= appointment.phone %></td>
              <td><%= appointment.type.name %></td>
              <td><%= appointment.date.strftime("%F")  %></td>

              <td>
                <div class="row text-center">
                  <div class="col">
                    <% if appointment.recuperator_id == Recuperator.first.id  %>
                      <%= link_to edit_appointment_path(appointment), class: "link" do %>
                        <i class="fas fa-pencil-alt fa-lg"></i>
                      <% end %>
                      <% end %>
                    <div>
                    <div class="col">
                      <%= link_to [appointment], method: :delete, data: { confirm: "¿Estas seguro?" } do%>
                        <i class="far fa-trash-alt fa-lg"></i>
                      <% end %>
                    <div>
                  <div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @appointments %>
    </div>
    <div class="d-block d-sm-block d-md-none">
       <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Recuperador</th>
            <th scope="col">Recogido</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @appointments.each do |appointment| %>

            <tr>
              <th><%= appointment.id %></th>
              <td><%= appointment.recuperator.fullname %></td>
              <td><%= if appointment.athonme then 'Si' else 'No' end %></td>
              <td><%= appointment.type.name %></td>
              <td>
                  <% if appointment.recuperator_id == Recuperator.first.id  %>
                    <%= link_to edit_appointment_path(appointment), class: "link" do %>
                      <i class="fas fa-pencil-alt fa-lg"></i>
                    <% end %>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @appointments %>
    </div>

  </div>
</div>


